<div id="<%= dom_id ticket_image %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Url:</strong>
    <%= ticket_image.url %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Ticket:</strong>
    <%= ticket_image.ticket_id %>
  </div>
</div>
