<% content_for :title, "New ticket image" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New ticket image</h1>

  <%= render "form", ticket_image: @ticket_image %>

  <%= link_to "Back to ticket images", ticket_images_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
